@tailwind base;
@tailwind components;

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* BUTTONS ======================================== */

.btn {
  @apply rounded-full py-1 px-3 transition-colors duration-300;
}

.btn-disabled {
  @apply btn bg-white cursor-not-allowed;
}

.btn-enabled {
  @apply btn cursor-pointer active:outline active:outline-2;
}

/* BUTTON COLORS ======================================== */

.color-default {
  @apply bg-gray-300 hover:bg-gray-400 active:bg-gray-300 outline-black;
}

/* CLICKABLE TEXTS ======================================== */

.txt-clickable {
  @apply cursor-pointer hover:underline;
}

@tailwind utilities;

@layer components {
  /* maybe put arrow into own component with scoped css */
}