@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* maybe put arrow into own component with scoped css */
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
      
      .arrow.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .arrow.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      
      .arrow.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      
      .arrow.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }


}